/* general */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  background-color: black;
}

body {
  max-width: 30rem;
  margin: auto;
  background-color: #f5f5f5;
}

main {
  padding: 2rem 5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

/* specific*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef476f;
  color: white;
  text-align: center;
  height: 8rem;
}

.taskInput__textInput {
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 10%;
  border: 0;
}

/* second Button with same style*/
.button {
  padding: 0.5rem;
  background-color: #118ab2;
  color: #f5f5f5;
  box-shadow: 2px 2px #ef476f;
  border: 0;
  border-radius: 10%;
  margin-top: 0.75rem;
}

.TaskOptions {
  margin-top: 2rem;
}

.TaskOptions__radioOptions {
  border: 0;
  margin: 0;
  padding: 0;
}

.radioLabel {
  display: block;
}

.TaskOptions__radioOptions__inputRadio {
  display: inline;
  margin-bottom: 0.6rem;
}

/* Ausgabebereich */
.yourToDo {
  margin-top: 2.5rem;
}

.yourToDo__eventList {
  list-style: none;
  padding-left: 0px;
}

.yourToDo__eventList__listElement {
  margin: 0.5rem 0rem;
  background-color: #ffffff;
  border-radius: 10%;
  padding-left: 0px;
}

.taskName {
  font-size: 1.5rem;
}

input[type="checkbox"]:checked + label {
  color: #ef476f;
  font-style: oblique;
  text-decoration: line-through;
  font-size: 1rem;
}

.checkbox {
  margin: 0.5rem 1rem;
}

input[type="checkbox"]:checked {
  background-color: crimson;
}
