*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  max-width: 700px;
  margin: auto;
  margin-top: 1rem;
  background-color: #cad2e7;
}

main {
  padding: 1rem;
  border: 1rem #001845 solid;
  color: #001845;
}

.header {
  background-color: #001845;
  color: white;
  text-align: center;
  padding-bottom: 0.2rem;
  border: 2px black solid;
  margin-bottom: 0.66rem;
}

.layout {
  display: grid;
  grid-template-columns: 40% auto;
  background-color: #2187ec;
  grid-gap: 1rem;
  padding: 2rem 2rem;
  grid-column: auto;
}

.fieldset {
  background-color: #2187ec;
  border-color: white;
  height: 85%;
}

.output {
  _margin-left: 1rem;
  height: 100%;
  _background-color: blueviolet;
}

.blueButton {
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2187ec 5%, #2187ec 100%);
  background-color: #2dabf9;
  border-radius: 5px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 22px;
  margin-top: 0.5rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

.blueButton:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
